<!DOCTYPE html>
<html>
  <head>
    <title>Lista de operações</title>
  </head>
  <body>
    <h1>Lista de operações</h1>
    <table>
      <tr>
        <th>Tipo de operação</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</tr>
        <th>Cartão</th>
        <th>Hora</th>
        <th>Dono da Loja</th>
        <th>Nome da Loja</th>
      </tr>
      {% for operacao in operacoes %}
      <tr>
        <td>{{ operacao.type }}</td>
        <td>{{ operacao.date }}</td>
        <td>{{ operacao.amount}}</td>
        <td>{{ operacao.cpf}}</td>
        <td>{{ operacao.card }}</td>
        <td>{{ operacao.hour }}</td>
        <td>{{ operacao.owner}}</td>
        <td>{{ operacao.store_name}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>Total de saldo: {{ total_saldo.saldo_conta__sum }}</p>
  </body>
</html>
