<!DOCTYPE html>
<html>
  <head>
    <title>Lista de operações</title>
  </head>
  <body>
    <h1>Lista de operações</h1>
    {% for operacao in operacoes %}
    <h3>Loja: {{operacao.store_name}}</h3>
    <table>
      <tr>
        <th>Tipo de operação</th>
        <th>Data</th>
        <th>Valor</th>
      </tr>
      {% for transacao in data %}
      {% if transacao.store_name == operacao.store_name %}
      <tr>
        <td>{{ transacao.type }}</td>
        <td>{{ transacao.date }}</td>
        <td>R$ {{ transacao.amount}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <p>Total de saldo: R$ {{operacao.total_amount}}</p>
    {% endfor %}
  </body>
</html>
